/* .bg{
    background: rgb(73,178,171);
background: radial-gradient(circle, rgba(73,178,171,1) 0%, rgba(15,36,34,1) 100%);
} */

.famed {
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    font-weight: 500;
    padding-left: 20px;
    margin-top: -5px;
    /* color: #49b2ab; */
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.navbar {
    display: flex;
    justify-content: left;
    height: 60px;
  }
  
  .title {
    text-align: center;
  }
  .head-privacy{
    padding-top: 15px;
    font-family: 'Manrope',sans-serif;
    font-size: 32px;
    font-weight: 800;
  }
  .mainpart{
    padding-left: 20px;

  }

  .effective{
    color: rgb(133, 133, 133);
    margin-top: -15px;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
  }
  .content{
    padding-left: 20px;
    padding-right: 20px;
  }

  p1{
    font-weight: 500;
    font-size: 24px;
    line-height: 0.8;
  }
  pA{
    font-weight: 400;
    font-size: 15px;
    line-height: 0.8;
    text-align: justify;
  }
  .bullet{
    font-weight: 600;
  }
  .mail{
    text-decoration: none;
  }
  a:link {
    color: #459995;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: black;
    background-color: transparent;
  }
  .rounded{
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .writeup{
    text-align: justify;
  }
  .contactus{
    width: 70%;
    text-align: justify;
    line-height: 1.3;
  }